<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書籍管理システム - 管理メニュー</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>管理メニュー</h1>

    <main class="control-menu-grid">
        <button type="button" id="registerAdministratorButton" class="btn btn-medium">管理者追加登録</button>
        <button type="button" class="btn btn-medium">書籍の引っ越し</button>
        <button type="button" id="gotoBookRegistration" class="btn btn-medium">日本書籍登録</button>

        <button type="button" class="btn btn-medium">貸出完了一覧</button>
        <button type="button" class="btn btn-medium">図書館新設</button>
        <button type="button" class="btn btn-medium">海外書籍登録</button>

        <button type="button" class="btn btn-medium">ダミー１</button>
        <button type="button" class="btn btn-medium">書籍の卒業</button>
        <button type="button" class="btn btn-medium">雑誌登録</button>

        <button type="button" class="btn btn-medium">ダミー２</button>
        <button type="button" class="btn btn-medium">貸出中書籍一覧・督促</button>
        <button type="button" class="btn btn-medium">非定形書籍・備品登録</button>

        <button type="button" id="gotoMainMenu" class="btn btn-medium">メインメニュー</button>
        <button type="button" class="btn btn-medium">棚情報管理</button>
        <button type="button" class="btn btn-medium">QRラベル印刷</button>
    </main>
<!-- 共通カスタムメッセージボックスをインクルード -->
    {% include 'my_messagebox.html' %}
    <script src="/static/js/navigation.js" defer></script>
</body>
</html>
