<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書籍管理システム - メインメニュー</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="main-menu-header">
        <div class="header-left">
            <button type="button" id="gotoControlMenu" class="btn btn-small">管理メニュー</button>
            <button type="button" class="btn btn-small">棚番号確認</button>
        </div>
        <div class="header-right">
            <button type="button" class="btn btn-small">終了</button>
            <button type="button" class="btn btn-small">最終操作確認</button>
        </div>
    </header>

    <main style="display: flex; justify-content: center; align-items: center;">
        <img src="../static/images/BoyGirlBooks.jpg" alt="本の写真" class="center-image">
    </main>

    <footer class="main-menu-footer">
        <button type="button" class="btn btn-large" id="lendingButton">貸出</button>
        <button type="button" class="btn btn-large">返却</button>
    </footer>

    <script src="/static/js/navigation.js" defer></script>
</body>
</html>