<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="content-type" content="text/html; charset=shift_jis">
<head>
 <title>Get Mail Address</title>
 <style>
  .back-button {
   position: absolute;
   bottom: 40px;
   left: 40px;
  }
 </style>
</head>
<body>
    <button type="button" id="gotoMainMenu2" class="btn btn-small back-button">戻る</button>
    <script src="/static/js/navigation.js" defer></script>
</body>
<body>
 <h3>
  <div class="header-title">
   Get mail address from employee card
  </div>
 </h3>

  <div class="mainArea">
    <!--<div class="button1">
      <span class="col-1" style="display: inline-block; width: 800px">Reading a FeliCa Card (ICS-E008/10 : Sample 5 Format)</span>
      <button id="FeliCa">Execute</button>
    </div>

    <br><br>-->
    <div class="detect">
      <div id="detect-title" class="detect-title" style="display: inline;"></div><br>
      <div id="detect" class="detect-info" style="display: inline;"></div>
    </div>
    <br>
  <div class="communicate">
   <div id="communicate-title" class="communicate-title" style="display: inline;"></div><br>
   <div id="communicate" class="communicate-response" style="display: inline;"></div>
  </div>
 </div>

<img src="/static/images/IDCardTouchRequest.jpg" alt="ID Card Touch Request" class="centered-image">
<script src= "/static/js/LdapByGemini2_5Pro.js"></script>
<script type='module'>
 import {NFCPortLib, NFCPortError, Configuration, DetectionOption, CommunicationOption, TargetCard} from 'https://cdn.felica-support.sony.biz/webclient/trial/NFCPortLib.js';

 let detectTitle = document.getElementById('detect-title');
 let detectMessage = document.getElementById('detect');
 let communicateTitle = document.getElementById('communicate-title');
 let communicateMessage = document.getElementById('communicate');

 document.addEventListener('DOMContentLoaded', function() {
   felica_card();
 });

 async function felica_card() {
  console.log('[Reading a FeliCa Card] Begin');
  let lib = null;
  let ret = null;
  detectTitle.innerText = '';
  detectMessage.innerText = '';
  communicateTitle.innerText = '';
  communicateMessage.innerText = '';

  const startTime = Date.now(); // 開始時刻を取得

  do {
    let GID = '';
    let kanaName = '';

    // タイムアウト判定 (20秒 = 20000ミリ秒)
    if (Date.now() - startTime > 20000) {
      console.log('Timeout: Card not detected within 20 seconds.');
      detectTitle.innerText = '社員証が検出されませんでした。';
      // OKボタンを表示
      const okButton = document.createElement('button');
      okButton.innerText = 'OK';
      okButton.onclick = function() {
        window.location.href = '/'; // メインメニューへ遷移
      };
      detectMessage.appendChild(okButton);
      break; // ループを終了
    }

    try{
   /* create NFCPortLib object */
   lib = new NFCPortLib();

   /* init() */
   let config = new Configuration(500 /* ackTimeout */, 500 /* receiveTimeout */, true /* autoBaudRate*/, true /* autoDeviceSelect */);
   await lib.init(config);
   /* open() */
   await lib.open();
   console.log('deviceName : ' + lib.deviceName);

   /* detectCard(FeliCa Card) */
   let detectOption = new DetectionOption(new Uint8Array([0xff, 0xff]), 0, true, false, null);
   let card = await lib.detectCard('iso18092', detectOption)
   .then(ret => {
    detectTitle.innerText = 'Card is detected';
    if (ret.systemCode == null) {
     console.log('IDm : ' + _array_tohexs(ret.idm) +
         '\nPMm : ' + _array_tohexs(ret.pmm) +
         '\ntargetCardBaudRate : ' + lib.targetCardBaudRate + 'kbps');
    } else {
     console.log('IDm : ' + _array_tohexs(ret.idm) +
         '\nPMm : ' + _array_tohexs(ret.pmm) +
         '\nSystemCode : ' + _array_tohexs(ret.systemCode) +
         '\ntargetCardBaudRate : ' + lib.targetCardBaudRate + 'kbps');
    }
    //detectMessage.innerText = 'IDm : ' + _array_tohexs(ret.idm);
    return ret;
   }, (error) => {
    detectTitle.innerText = 'Card is not detected';
    throw(error);
   });

   /* communicateThru(Read Block) */
   let felica_read_without_encryption1 = new Uint8Array([16, 0x06, 0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00, 1, 0x0b, 0x02, 1, 0x80,0x00]); //社員番号ブロック取得成功
            _array_copy(felica_read_without_encryption1, 2, card.idm, 0, card.idm.length);
   let response1 = await lib.communicateThru(felica_read_without_encryption1, 100, detectOption)
   .then(ret1 => {
    //communicateTitle.innerText = 'Reading...';
    console.log(/*communicateMessage.innerText =*/ 'Send    : ' + _array_tohexs(felica_read_without_encryption1) +
                 '\nReceive : ' + _array_tohexs(ret1));
    GID = _array_slice(hexToShiftJIS(_array_tohexs(ret1)), 12, 10).join('');
    console.log('GID = ' + GID);
    communicateTitle.innerText = 'GID : ' + GID;
    
    return GID;
    }, (error) => {
      communicateTitle.innerText = 'Read error';
      throw(error);
   });
 
   let felica_read_without_encryption2 = new Uint8Array([16, 0x06, 0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00, 1, 0x0b,0x01, 1, 0x80,0x01]);//半角カナ氏名ブロック取得成功
            _array_copy(felica_read_without_encryption2, 2, card.idm, 0, card.idm.length);
   let response2 = await lib.communicateThru(felica_read_without_encryption2, 100, detectOption)
   .then(ret2 => {
    //communicateTitle.innerText = 'Reading...';
    console.log(/*communicateMessage.innerText = */'Send    : ' + _array_tohexs(felica_read_without_encryption2) +
                 '\nReceive : ' + _array_tohexs(ret2));
    kanaName = _array_slice(hexToShiftJIS(_array_tohexs(ret2)), 12, 10).join('');
    console.log('kanaName = ' + kanaName);
    communicateMessage.innerText = 'kanaName : ' + kanaName;
    return ret2;

   }, (error) => {
      communicateTitle.innerText = 'Read error';
      throw(error);
   });
  
   /* close() */
   await lib.close();
   lib = null;

  } catch(error) {
   console.log('Error errorType : ' + error.errorType);
   console.log('      message : ' + error.message);

   if (lib != null) {
    await lib.close();
    lib = null;
   }
  }
  if(GID.length == 10) {
   getLdapUserInfoJs(GID);
   console.log('Success');
   console.log('[Reading a FeliCa Card] End');
   break;
  }
  await sleep(100);
 } while (true);
 return;

 }



 function _def_val(param, def){
  return (param === undefined) ? def : param;
 }
 function _array_slice(array, offset, length){
  let result;
  length = _def_val(length, array.length - offset);
  result = [];
  _array_copy(result, 0, array, offset, length);
  return result;
 }
 function _bytes2hexs(bytes, sep) {
  let str;
  sep = _def_val(sep, ' ');
  return bytes.map(function(byte) {
   str = byte.toString(16);
   return byte < 0x10 ? '0'+str : str;
  }).join(sep).toUpperCase();
 }
 function _array_tohexs(array, offset, length){
  let temp;
  offset = _def_val(offset, 0);
  length = _def_val(length, array.length - offset);
  temp = _array_slice(array, offset, length );
  return _bytes2hexs(temp, '');
 }
 function _array_copy(dest, dest_offset, src, src_offset, length){
  let idx;
  src_offset = _def_val(src_offset, 0);
  length = _def_val(length, src.length);

  for (idx = 0; idx < length; idx++) {
   dest[dest_offset + idx] = src[src_offset + idx];
  }
  return dest;
 }

    function hexToShiftJIS(hexString) {
        let bytes = [];
        for (let i = 0; i < hexString.length; i += 2) {
          const hexByte = hexString.substring(i, i + 2);
          bytes.push(parseInt(hexByte, 16));
        }
        return new TextDecoder('Shift-JIS').decode(new Uint8Array(bytes));
    }
 async function sleep(msec) {
  return new Promise(resolve => setTimeout(resolve, msec));
   }
</script>

</body>
</html>